<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/registration.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha512-g06pohSHYbSOHKq8tdDGXckE6C23Yt30xlTFDhrO0OcO/bNO2MWXb63oqU/Y23GDMNOon100eGHxZPBnT4QgMw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body ng-app="myApp" class="update-user">
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="work_js/index.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="work_js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.0/dist/sweetalert2.all.min.js"></script>
    <div class="container" ng-controller="ctrl">
        <div class="row justify-content-center align-items-center d-flex-row text-center h-100">
            <div class="col-12 col-md-6 col-lg-5 h-50">
                <div class="card mt-5">
                    <div class="card-body">
                        <h4 class="mt-4">CHANGE PASSWORD</h4>
                        <form name="fr" > 
                            <div class="form-group mt-3 text-start">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                    <input type="password" placeholder="Password" class="form-control" name="password" ng-model="passwordChange" required> 
                                </div>
                                <span class="check" ng-show="fr.password.$touched && fr.password.$invalid"><i class="fa fa-star-of-life"></i> Bạn chưa nhập mật khẩu cũ</span>
                            </div>
                            <div class="form-group mt-3 text-start">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                    <input type="password" placeholder="New Password" class="form-control" name="newPassword" ng-model="newPasswordChange" required> 
                                </div>
                                <span class="check" ng-show="fr.newPassword.$touched && fr.newPassword.$invalid"><i class="fa fa-star-of-life"></i> Bạn chưa nhập mật khẩu mới</span>
                            </div>
                            <div class="form-group mt-3 text-start">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                    <input type="password" placeholder="Confirm Password" class="form-control" name="confirmPassword" required ng-model="confirmPasswordChange"> 
                                </div>
                                <span class="check" ng-show="fr.confirmPassword.$touched && fr.confirmPassword.$invalid"><i class="fa fa-star-of-life"></i> Bạn chưa xác nhận mật khẩu mới</span>
                            </div>
                            <div class="row pe-2 ps-2 mt-2">
                                <button class="btn btn-primary pe-0 ps-0" ng-click="onSubmitChange(
                                )">Save</button>
                            </div>
                        </form>
                        <!-- <div class="alert alert-success fade show" id="success-alert" ng-show="mess">
                            <strong>Success! </strong>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <script>
        var app = angular.module("myApp",[]);
        app.controller("ctrl", function($scope){});
    </script> -->
</body>
</html>