<div ng-controller="ctrl_listQuiz" class="container">
    <div ng-show="isLoading" class="loading">
        <div class="spinner-border text-primary spinner-center" role="status">
        </div>
    </div>
    <div class="" style="margin-top: 60px;">
        <h2 class="mt-2">Quản trị câu hỏi</h2>
        <div class="row d-flex justify-content-center">
            <div class="col-10">
                <form name="fr">
                    <div class="form-group">
                        <label for="">Câu hỏi</label>
                        <input type="text" class="form-control" ng-model="quiz.Text" name="IdSubject">
                    </div>
                    <div class="form-group">
                        <label for="">Câu trả lời 1</label>
                        <input type="text" class="form-control" ng-model="answerText1" name="name">
                    </div>
                    <div class="form-group">
                        <label for="">Câu trả lời 2</label>
                        <input type="text" class="form-control" ng-model="answerText2" name="name">
                    </div>
                    <div class="form-group">
                        <label for="">Câu trả lời 3</label>
                        <input type="text" class="form-control" ng-model="answerText3" name="name">
                    </div>
                    <div class="form-group">
                        <label for="">Câu trả lời 4</label>
                        <input type="text" class="form-control" ng-model="answerText4" name="name">
                    </div>
                    <div class="form-group">
                        <label for="">Câu trả đúng dựa theo số câu</label>
                        <input type="number" class="form-control" ng-model="quiz.AnswerId" name="name">
                    </div>
                    <!-- <div class="form-group">
                        <label for="">Mã môn</label>
                        <input type="text" class="form-control" ng-model="subject" name="IdSubject">
                    </div>  --> <br>
                    <button class="btn btn-dark pe-4 ps-4" ng-click="saveQuiz()">Lưu</button>
                </form>
            </div>
            <table class="table mt-4">
                <tbody>
                    <tr>
                        <th>STT</th>
                        <th>Câu hỏi</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>Đáp án</th>
                        <th colspan="2"></th>
                    </tr>
                </tbody>
                <tr ng-repeat="x in listQuiz">
                    <td>{{x.id}}</td>
                    <td>{{x.Text}}</td>
                    <td>{{x.Answers[0].Text}}</td>
                    <td>{{x.Answers[1].Text}}</td>
                    <td>{{x.Answers[2].Text}}</td>
                    <td>{{x.Answers[3].Text}}</td>
                    <td>{{x.AnswerId}}</td>
                    <td><button class="btn btn-primary" ng-click="update($index)">Sửa</button></td>
                    <td><button class="btn btn-danger" ng-click="delete($index)">Xóa</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>